button:hover {
  cursor: pointer;
}
.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.flex {
  display: flex;
}
nav {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 34px 120px;
}
#img1 {
  width: 139px;
}
.nav-li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
#nav-ul {
  display: flex;
  gap: 32px;
}
.green-bg {
  background-color: #30b868;
}
.green-color {
  color: #30b868;
}
#nav-btn {
  border-radius: 7px;
  height: 44px;
  width: 164px;
}
.hero-div {
  height: 600px;
  background-image: url(./assets/hero-bg.png);
  padding-top: 50px;
  margin: 0 auto;
}
#early-access-nav {
  height: 35px;
  max-width: 229px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
}
#green-circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
#nav-h3 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}
#nav-p {
  color: white;
  text-align: center;
}
#nav-btn-1 {
  color: white;
  height: 52px;
  width: 251px;
  border-radius: 7px;
}
#nav-btn-2 {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  height: 52px;
  width: 251px;
}
#btn-div {
  display: flex;
  gap: 20px;
}
