.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.flex {
  display: flex;
}
nav {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 34px 120px;
}
#img1 {
  width: 139px;
}
.nav-li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
#nav-ul {
  display: flex;
  gap: 32px;
}
#nav-btn {
  background-color: #30b868;
  border-radius: 7px;
  height: 44px;
  width: 164px;
}
