button:hover {
  cursor: pointer;
}
.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.flex {
  display: flex;
}
nav {
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 34px 120px;
}
#img1 {
  width: 139px;
}
.nav-li {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}
#nav-ul {
  display: flex;
  gap: 32px;
}
.green-bg {
  background-color: #30b868;
}
.green-color {
  color: #30b868;
}
#nav-btn {
  border-radius: 7px;
  height: 44px;
  width: 164px;
}
.hero-div {
  height: 600px;
  background-image: url(./assets/hero-bg.png);
  padding-top: 50px;
  margin: 0 auto;
}
#early-access-nav {
  height: 35px;
  max-width: 229px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
}
#green-circle {
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

#nav-h3 {
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}
#nav-p {
  color: white;
  text-align: center;
}
#nav-btn-1 {
  color: white;
  height: 52px;
  width: 251px;
  border-radius: 7px;
}
#nav-btn-2 {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  height: 50px;
  width: 251px;
}
#btn-div {
  display: flex;
  gap: 20px;
}
#first-div-section {
  padding-top: 70px;
  text-align: center;
}
.scattered-img {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 10px;
  height: 25px;
}
.scattered-notes-h3 {
  font-size: 24px;
  font-weight: 600;
}
.second-div-section {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
#second-note-div {
  display: flex;
  justify-content: space-around;
}
#note-section {
  background-color: rgb(247, 247, 237);
}
.note-p-colors {
  color: #627382;
}
#brain-section {
  margin: 120px;
  display: flex;
  align-items: center;
  gap: 70px;
}
#brain-p1 {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
#think-section {
  background-color: rgba(247, 246, 242, 1);
  margin: 0 100px 100px;
  margin-bottom: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 80px 40px;
}
#think-h2 {
  font-weight: 700;
  font-size: 40px;
}
.think-p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}
#think-btn1 {
  color: white;
  height: 52px;
  width: 251px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 16px;
}
